.footer{
  padding: 30px;
  background-color: var(--dark-primary);

  @include small-tablet {
   padding: 15px;

   }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;


  }
  &__logo-title {
    font-weight: 800;
    font-size: 32px;
    font-family: var(--second-family);
    color: var(--white);

    @include small-tablet {
      font-size: 16px;

     }
  }

  &__caption {
    display: block;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--second-family);
    color: var(--white);
    margin-bottom: 8px;

    @include small-tablet {
     font-size: 14px;

     }
  }

  &__tel {
    font-weight: 400;
    font-size: 28px;
    font-family: var(--second-family);
    color: #f8881f;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed currentColor;
      outline-offset: var(--outline-offset);
    }

    @media (any-hover: hover) {
      &:hover {
       color: #df4f0d;
      }
    }

    &:active {
      color: #ee7238 ;
    }
  }

 }
