<section id="about" class="about">
  <div class="container">
    <h2 class="about__title ">О нас</h2>
    <p class="about__descr">
      Мы&nbsp;предоставляем услуги в&nbsp;г.Алексин Тульской области и&nbsp;в&nbsp;Алексинском
      районе. Готовы в&nbsp;сжатые сроки произвести декоративное оформление могилы
      любыми необходимыми элементами, установить памятник на&nbsp;могиле. Изгоготовление любых металлоконстукций любой
      сложности, кровля гаражей. Предложим оптимальное решение в
      соответствии с&nbsp;вашими предпочтениями и&nbsp;материальными возможностями. С
      прайсом можно ознакомиться в&nbsp;соответствующем разделе.
    </p>
    <div class="about__ograda grid">
      <div class="about__content">
        <p class="about__descr about__descr--left">
          Ограда на&nbsp;могилу является красивым и&nbsp;функциональным элементом
          благоустройства места. Оградки на&nbsp;могилу позволяет обозначить границы
          места захоронение, тем самым предает красивый вид, также защищает участок
          от&nbsp;мусора. Установка оградки на&nbsp;кладбище является финальным этапом
          благоустройства.
        </p>
      </div>
      <picture class="about__img-block">
        <source srcset="img/example1.webp" type="image/webp">
        <img src="img/example1.jpeg" alt="Кованая ограда" class="about__img" loading="lazy" width="630" height="520">
      </picture>
    </div>
    <p class="about__descr">
      Чтобы не&nbsp;было перекосов в&nbsp;конструкциях, установленных на&nbsp;захоронение, от
      провалов почвы, грунт должен хорошо просесть. Поэтому начинать заниматься
      благоустройством участка, лучше через год после похорон с&nbsp;15&nbsp;мая по&nbsp;15
      октября
    </p>
    <h3 class="about__subtitle">
      Вы&nbsp;можете заказать следующие виды металлических конструкций:
    </h3>
    <ul class="about__list">
      <li class="about__item">
        <h4 class="about__item-title">
          Кованые ограды
        </h4>
        <p class="about__item-descr">
          Они состоят из&nbsp;нарезанных металлических прутьев, которым при помощи художественной ковки придается нужная
          форма. Узоры выполняются в&nbsp;виде веток и&nbsp;листьев, ягод, сердец, крыльев или абстрактных линий
          с&nbsp;завитками.
          Кованые ограждения выглядят очень красиво. Эта технология позволяет создать неповторимые художественные
          композиции.
        </p>
      </li>
      <li class="about__item">
        <h4 class="about__item-title">
          Сварные ограды
        </h4>
        <p class="about__item-descr">
          Это недорогие конструкции, которые изготавливают из&nbsp;металлических уголков и&nbsp;профилей. Сварные
          металлические
          ограды покупают преимущественно для бюджетных памятников.
        </p>
      </li>
    </ul>
    <p class="about__descr">
      Наиболее бюджетной разновидностью оградок на&nbsp;кладбище являются сварные изделия. Такие конструкции
      изготавливаются
      из&nbsp;металла и&nbsp;служат на&nbsp;протяжении долгих лет. Кованые изгороди
      смотрятся более изысканно, но&nbsp;и&nbsp;обходятся дороже, поскольку изготавливаются вручную. Металлические
      ограды являются
      наиболее часто заказываемыми нашими клиентами. Они широко используются для ограждения мест захоронения и
      памятников.
    </p>
  </div>
</section>
