<section id="example" class="example">

  <div class="container">
    <h2 class="example__title">
      Примеры работ
    </h2>
    <ul class="example__list grid list-reset">
      <li class="example__item">
        <picture>
          <source srcset="img/example1.webp" type="image/webp" loading="lazy">
          <img src="img/example1.jpeg" alt="Кованая ограда" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example2.webp" type="image/webp" loading="lazy">
          <img src="img/example2.jpeg" alt="Кованая ограда" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example3.webp" type="image/webp" loading="lazy">
          <img src="img/example3.jpeg" alt="Сварная ограда" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example4.webp" type="image/webp" loading="lazy">
          <img src="img/example4.jpeg" alt="Плитка на кладбище" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example5.webp" type="image/webp">
          <img src="img/example5.jpg" alt="Памятник" class="example__img" loading="lazy" width="295" height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example6.webp" type="image/webp">
          <img src="img/example6.jpeg" alt="Сварная ограда" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example7.webp" type="image/webp">
          <img src="img/example7.jpeg" alt="Сварная ограда" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example8.webp" type="image/webp">
          <img src="img/example8.jpg" alt="Кованый стол" class="example__img" loading="lazy" width="295" height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example9.webp" type="image/webp">
          <img src="img/example9.jpeg" alt="Кованая ограда" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example10.webp" type="image/webp">
          <img src="img/example10.jpeg" alt="Лавочка" class="example__img" loading="lazy" width="295" height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example11.webp" type="image/webp">
          <img src="img/example11.jpeg" alt="Кованая Лавочка" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example12.webp" type="image/webp">
          <img src="img/example12.jpeg" alt="металлический стол" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
      <li class="example__item">
        <picture>
          <source srcset="img/example13.webp" type="image/webp">
          <img src="img/example13.jpeg" alt="Кованая ограда" class="example__img" loading="lazy" width="295"
            height="250">
        </picture>
      </li>
    </ul>
    <div class="example__btn">
      <button class="example__btn-show btn-reset" aria-label="Показать еще">
        Показать еще
      </button>
    </div>
    <div class="pop-up" id="pop-up">
      <div class="pop-up__modal">
        <span class="pop-up__closed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect x="8.9541" y="7.30432" width="11.6645" height="2.33291" transform="rotate(45 8.9541 7.30432)"
              fill="none" />
            <rect x="7.30469" y="15.5524" width="11.6645" height="2.33291" transform="rotate(-45 7.30469 15.5524)"
              fill="none" />
            <circle cx="12" cy="12" r="11" stroke="none" stroke-width="2" />
          </svg>
        </span>
        <!-- <picture>
          <source srcset="img/example1.webp" type="image/webp" class="pop-up__img-webp"> -->
          <img src="img/example1.jpeg" alt="Пример работы" class="pop-up__img" loading="lazy">
        <!-- </picture> -->

      </div>
    </div>
  </div>
</section>
