<section class="header">
  <div class="header__top">
    <div class="container header__container">
      <div class="header__logo">
        <span class="header__logo-title"> SVARKA</span>
      </div>

      <div class="header__contact">
        <span class="header__caption">Для консультации</span>
        <a href="tel:+79066257642" class="tel">+7 (906) 625-76-42</a>
      </div>
      <div class="header__right">
        <img src="img/aleksin.jpg" alt="Алексин" class="header__img" loading="lazy" width="80px" height="80px">
        <span class="header__descr">
          г. Алексин
        </span>
      </div>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
  <div class="header__bottom" data-menu>
    <nav class="header__nav">
      <ul class="header__list list-reset">
        <li class="header__item"><a href="#about" class="header__link">О нас</a></li>
        <li class="header__item"> <a href="#catalog" class="header__link">Каталог</a></li>
        <li class="header__item"><a href="#install" class="header__link">Установка </a></li>
        <li class="header__item"><a href="#example" class="header__link">Примеры работ </a></li>
      </ul>
    </nav>
  </div>
</section>
