<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name = "keywords" content="ограда на могилу, установка памятника на могилу, благоустройство могилы в Алексине, ограда на кладбище Алексин">
  <title>Ограды на могилу в Алексине</title>
  <link rel="preload" href="fonts/ClashDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/ClashDisplay-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Satoshi-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NTSomic-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NTSomic-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/NTSomic-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/BalkaraFreeCondensed.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Comic Sans MS.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="img/icons8-ограда-16.png" type="image/svg">
  <script defer src="js/main.js"></script>
</head>
