<section class="install" id="install">
  <div class="container install__container">
    <h2 class="install__title">
      Установка
    </h2>
    <div class="install__content">
      <ul class="install__list list-reset">
        <li class="install__item">Уствновка ограды на&nbsp;кладбище&nbsp;&mdash; 2&nbsp;000 руб
        <li>
        <li class="install__item">Установка памятника на&nbsp;могилу&nbsp;&mdash; от&nbsp;8 000р до&nbsp;10&nbsp;000 руб
        </li>
        <li class="install__item"> Выложить плитку на&nbsp;клабдище&nbsp;&mdash; от&nbsp;3 500р</li>
      </ul>
    </div>
  </div>
</section>
