<section class="swiper-about">
  <div class="container swiper-about__container">
    <h1 class="swiper-about__title">
      Металлоконструкции любой сложности
    </h1>
    <div class="swiper-about__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <li class="swiper__item">
            <div class="swiper__content">
              <span class="swiper__descr">
                Опыт работы 20 лет
              </span>
            </div>
            <picture class="swiper__img-block">
              <source srcset="img/slide1.webp" type="image/webp">
              <img src="img/slide1.jpg" alt="Ограда" class="swiper__img"
                width="640" height="500">
            </picture>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="swiper__item">
            <div class="swiper__content swiper__content--slide2">
              <span class="swiper__descr  swiper__descr--slide2">
                Изготовление из высококачественного материала
              </span>
            </div>
            <picture class="swiper__img-block">
              <source srcset="./img/slide2.webp" type="image/webp" loading="lazy">
              <img src="img/slide2.jpg" alt="Ограда" class="swiper__img" loading="lazy"
                width="640" height="500">
            </picture>
          </li>

        </div>
        <div class="swiper-slide">
          <li class="swiper__item">
            <div class="swiper__content swiper__content--slide2">
              <span class="swiper__descr  swiper__descr--slide2">
                Делаем в кратчайшие сроки
              </span>
            </div>
            <picture class="swiper__img-block">
              <source srcset="img/slide3.webp" type="image/webp" loading="lazy">
              <img src="img/slide3.jpg" alt="Ограда" class="swiper__img" loading="lazy"
                width="640" height="500">
            </picture>
          </li>

        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
